.picture-style{
  width:140px;
  height:140px;
  border: 0px #535759 solid;
  text-align: center;
  margin-left: 80px;
  padding: 0px;
  border-radius:30px;
}
.title-style{
  text-align: center;
  font-family: "微软雅黑", Microsoft YaHei, "华文细黑";
   font-size: 30px;
   font-weight: bold;
   color: #506778;
   letter-spacing: 4px;
}
.linktoregister{
  margin-left: 180px;
}
