.title-style{
   height:60px;
   text-align: center;
   font-family: "微软雅黑", Microsoft YaHei, "华文细黑";
   font-size: 30px;
   font-weight: bold;
   color: #506778;
   letter-spacing: 4px;
}
.linktologin{
  margin-left: 180px;
}
